<%- include("./partials/header") %>
  <h1 class="text-center">Hello Profilers</h1>
  <div class="conatiner mb-4">
  <% users.forEach(function(user){ %>
  			<ul class="list-group">
  							<li class="list-group-item text-center"><a class="nav-link" href="/users/<%= user._id %>"><%= user.firstname %> </a></li>
  							<a href="/users/delete-user/<%= user._id %>" class="btn btn-danger">delete</a>
  			</ul>
 <% }) %>
 </div>
<%- include("./partials/footer") %>
